html {
    border-radius: 0;
}

body {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
    margin: auto;
    color: #363636;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    background-color: transparent;
    color: #3b5998;
}

    a:hover {
        color: #0066FF;
    }

    a:active {
        color: #193EAC;
    }

.list {
    padding-left: 15px;
}

ul {
    list-style-type: square;
    padding-left: 10px;
}

.bold {
    font-weight: bold;
}

h1 {
    font-family: 'Century Gothic', 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    color: #22356b;
    margin-top: 2px;
    margin-bottom: 6px;
}

h2, h3 {
    font-family: 'Century Gothic', 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    color: #22356b;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h4 {
    font-family: 'Century Gothic', 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    color: #22356b;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-size: 1.4em;
}

h5 {
    font-family: 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    color: #22356b;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.alignRight {
    float: right;
}


/* -------------------   NAVBAR  ------------------- */

#topDivRow {
    border-bottom: 1px solid #D9E0E8;
    background-color: white;
    padding-bottom: 2px;
    width: 100%;
}

#logoAndCaption {
    text-align: center;
}

#companyName {
    font-family: 'Century Gothic', 'Muli','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    color: #CC0000;
}

#dotcom {
    color: black;
    font-size: 1.6em;
    padding-right: 10px;
}

#logoCaption {
    font-size: 1.8em;
    color: #CC0000;
    font-family: Georgia,Utopia,Charter,serif;
}

#logo a {
    color: #F5F7FD;
    padding: 12px;
}

.paintroller1 {
}

/* -------------------   /NAVBAR  ------------------- */

#allContentUnderNavBar {
    background-color: #F2F2F3;
    padding-top: 10px;
}

/* -------------------   WELCOME AND IMAGE BOX------------------- */
#welcomeAndImageBox {
}

.welcome {
    margin-bottom: 5px;
}

#welcomeHeading {
    color: #22356b;
    font-family: 'Century Gothic', Helvetica, sans-serif, Calibri, 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    font-size: 1.5em;
    line-height: 5px;
}

#photoDescription {
    color: white;
    margin-top: -22px;
    padding-left: 5px;
}




.carousel-caption {
    bottom: 0px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) );
    margin-left:60%;
    width: 40%;
    left: 0%;
    right: 0%;
    padding: 10px;
    text-align: left;
    font-family: 'Century Gothic', 'Muli','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media only screen and (max-width: 320px) { /* Hide photo captions on xtra small screens*/
    .carousel-caption {
        display: none;
    }
}

/* ------------------- /END OF WELCOME AND IMAGE BOX------------------- */


/* -------------------   CONTACT FIELDS ------------------- */
#areasCovered {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.contactFields {
    margin-bottom: 5px;
}

    .contactFields .media-object {
        background-color: #E9EAEA;
        width: 52px;
        line-height: 52px;
        text-align: center;
    }

    .contactFields .media-body {
        line-height: 52px;
    }

    .contactFields .media-heading {
    }

    .contactFields .media {
        background-color: white;
        border: 1px solid #D9E0E8;
        height: 52px;
        margin-top: 5px;
    }

.icon_sosa {
    /*color: #337ab7; Default bootstrap link colour*/
    font-size: 2.5em;
    color: #3b5998;
}

    .icon_sosa a:hover {
        color: green;
    }


.clock {
}

.openingHours {
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 20px;
}

.dummySpan {
    color: #F2F2F3;
}
/* -------------------   /CONTACT FIELDS ------------------- */


/* -------------------   SERVICES ------------------- */
@media only screen and (min-width: 767px) and (max-width: 991px) {
    #welcomeAndServices {
        margin-top: -105px;
    }
}

.services {
    border-left: 1px solid #D9E0E8;
    border-right: 1px solid #D9E0E8;
    border-bottom: 1px solid #D9E0E8;
    background-color: white;
    margin-bottom: 10px;
    /* background-color:#D9E0E8; similar to above, but darker */
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.customCollaspeSection {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.servicesHeading {
    font-family: 'Century Gothic', Helvetica, sans-serif, Calibri, 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    background-color: #CC0000;
    padding: 2px;
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

#servicesSubHeading {
    margin-bottom: 5px;
    font-size: 1.2em;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: Calibri, Helvetica, sans-serif, Calibri, 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    text-align: center;
}

.services .media-heading {
    color: #CC0000;
    padding-top: 20px;
    font-size: 1.6em;
}

#diagnostics {
    color: #FF3300;
}

#generalServicesDescription {
    color: #0066FF;
}

.media-left .services {
    width: 60%;
}

.services .media {
    border: 2px solid #D9E0E8;
    margin-top: 15px;
}

.services .media-object {
    /*light blue: background-color: #e3eff8; */
    background-color: white;
    width: 100px;
    text-align: center;
}

.services .fa {
    color: #CC0000;
    line-height: 100px;
}

.services .media-body {
    padding-right: 10px;
    padding-bottom: 10px;
}

.media-paragraphs {
    padding-left: 15px;
    padding-right: 15px;
}

.quote {
    font-style: italic;
}

aside {
    padding-left: 15px;
}

.services .glyphicon {
    top: 4px; /* override of bootstrap's default of 1px */
    padding-left: 5px;
    padding-right: 10px;
    font-size: 1.2em;
}

.showHideTextAndArrow {
    float: right;
    color: #CC0000;
}

    .showHideTextAndArrow:hover {
        color: #0066FF;
    }

    .showHideTextAndArrow:active {
        color: #193EAC;
    }

    .showHideTextAndArrow:visited {
        color: #CC0000;
    }

/* -------------------   /SERVICES ------------------- */

/* -------------------   FACEBOOK ------------------- */
#fb-root {
    background-color: #E9EAEA;
}

#facebookHeading {
    background-color: #E9EAEA;
    padding-left: 5px;
    border: 1px solid #D9E0E8;
}

#faceBookColumn {
    margin-top: 10px;
}
/* -------------------   /FACEBOOK ------------------- */

/* -------------------   SHARE LINKS ------------------- */
#shareLinks {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    #shareLinks .media {
        margin-bottom: 5px;
    }

@media only screen and (max-width: 767px) {
    #shareLinks .media-body {
        width: 60%;
    }
}


#shareOnTwitter {
    padding-left: 5px;
    padding-right: 5px;
}

#shareOnGooglePlus {
    padding-left: 5px;
    padding-right: 5px;
}

.tweet {
    color: #55acee;
}

.google_plus {
    font-size: 1.9em;
    color: white;
    background-color: #dd4b39;
    border-radius: 2px;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
}

/* -------------------   /SHARE LINKS ------------------- */

footer {
    border-top: 1px solid #D9E0E8;
    margin-top: 10px;
    padding-top: 10px;
    font-size: .8em;
    text-align: center;
}
